/*Ensures no white gaps along sides of webpage*/
body {
  margin: 0;
}

/*Header - Same style across pages (Changes for responsive design below)*/
header {
 font-family: "Permanent Marker", cursive;
 font-weight: 400;
 font-style: normal;
 display: flex;
 flex-direction:column-reverse;
 justify-content: center;
 align-items: center;
 background-image: linear-gradient(to right, #ABBFFF, #FBCDF2, #FCF4C9, #FEE3E2, #BBF3C0, #ABBFFF, #FBCDF2);
 padding-bottom: 80px; 
 padding-top: 50px;
 width: 100%; 
}

/*Creates blinking logo when you hover over the header*/
header img:last-child {
  display: none;  
}
header:hover img:last-child {
  display: block;  
}
header:hover img:first-child {
  display: none;  
}

/* Title of the page*/
title {
  color: black;
  font-family: "Public Sans", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 60px;
  padding-bottom: 60px;
}

/*Text stylings*/
h5 {
  font-family: "Permanent Marker", cursive;
}
h6 {
  font-family: "Public Sans", sans-serif;
  font-weight: 700;
  font-style: normal;
}
p {
  font-family: "Public Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
}

/*Colour for links*/
a {
  color: black;
  font-style: bold;
}

/*Navbar styling for smaller devices - 0px-600px*/  
@media only screen and (min-width: 0px) and (max-width: 600px) {
  .topnav {
    overflow: hidden;
    background-color: #E8BEFA;
  }
  .topnav a {
    float: none;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    font-family: "Permanent Marker", cursive;
  }
  .topnav a:hover {
    background-color: #FEE3E2;
    color: black;
  }
  .topnav a.active {
    background-color: #ABBFFF;
    color: black;
  }
}


/*Navbar styling for medium sized devices over 600px-800px*/
@media screen and (min-width: 600px) and (max-width: 800px) {  
  .topnav {
    display: flex;
    overflow: hidden;
    background-color: #E8BEFA;
  }
  
  .topnav a {
    float: left;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    font-family: "Permanent Marker", cursive;
  }
  /*Navbar tab will highlight orange when hovered over*/
  .topnav a:hover {
    background-color: #FEE3E2;
    color: black;
  }
  /*Navbar tab for current page will highlight purple so that user know what page they're on*/
  .topnav a.active {
    background-color: #ABBFFF;
    color: black;
  }
}


/*Navbar styling for larger sized devices over 800px*/
@media only screen and (min-width: 800px) { 
  .topnav {
    overflow: hidden;
    background-color: #E8BEFA;
  }
  .topnav a {
    float: left;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    font-family: "Permanent Marker", cursive;
  }
  /*Contacts tab will split and be displayed on the right hand side of page, highlighted green*/
  .topnav a.split {
    float: right;
    background-color: #BBF3C0;
    color: black;
  }
  .topnav a:hover {
    background-color: #FEE3E2;
    color: black;
  }
  .topnav a.split:hover {
    background-color: #FEE3E2;
    color: black;
  }
  .topnav a.active {
    background-color: #ABBFFF;
    color: black;
  }
}

.flex-container {
  border: 2px red solid;
}


/* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.flip-card {
  background-color: transparent;
  width: 450px;
  height: 200px;
  /*border: 1px solid #f1f1f1;*/
  border: 2px blue solid;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  background-color: #bbb;
  color: black;
  font-family: "Public Sans", sans-serif;
  font-size: 30px;
  /*padding-top: 50px;*/
}

/* Style the back side */
.flip-card-back {
  background-color: dodgerblue;
  color: white;
  transform: rotateY(180deg);
}



/*Footer styling*/
footer {
  color: black;
  background-color: #FEE3E2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/*Footer links - centered and on seperate lines*/
footer.a {
  display: flex;
  justify-content: center;
  align-items: center;
}