/*Ensures no white gaps along sides of webpage*/
body {
    margin: 0;
  }
  
  /*Header - Same style across pages (Changes for responsive design below)*/
  header {
      font-family: "Permanent Marker", cursive;
      font-weight: 400;
      font-style: normal;
      display: flex;
      flex-direction:column-reverse;
      justify-content: center;
      align-items: center;
      /*border: 2px red solid;*/
      background-image: linear-gradient(to right, #ABBFFF, #FBCDF2, #FCF4C9, #FEE3E2, #BBF3C0, #ABBFFF, #FBCDF2);
      padding-bottom: 80px; 
      padding-top: 50px;
      width: 100%; 
  }
  
  h5 {
    font-family: "Permanent Marker", cursive;
  }
  
  h6 {
    font-family: "Public Sans", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  p {
    font-family: "Public Sans", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  /*Colour for links*/
  a {
    color: black;
    font-style: bold;
  }
  
  /*Navigation Bar*/
  .topnav {
      overflow: hidden;
      background-color: #E8BEFA;
    }
    
    /*Navbar style*/
    .topnav a {
      float: left;
      color: black;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
      font-size: 17px;
      font-family: "Permanent Marker", cursive;
      /*margin-top: 25px;*/
    }
    
    /*Hover over navbar - changes colour*/
    .topnav a:hover {
      background-color: #FEE3E2;
      color: black;
    }
    
    /*Current page of navbar - highlighted colour*/
    .topnav a.active {
      background-color: #ABBFFF;
      color: black;
    }
  
    /*Contact button on navbar - highlighted colour*/
    .topnav a.split {
      float: right;
      background-color: #BBF3C0;
      color: black;
    }


    * {
      box-sizing: border-box;
  }
  
  body {
      background: linear-gradient(#ffdad5, #fff7f9);
  }
  
  .contact-container {
      height: 100vh;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      border: 2px red solid;
  }
  
  .contact-right {
      display: flex;
      flex-direction: column;
      align-items: start;
      gap: 25px;
      background-color: #a363aa;
      padding: 100px;
      border: 2px solid purple;
  }
  
  .contact-right-title h2 {
      font-weight: 600;
      color: #a363aa;
      font-size: 50px;
      margin-bottom: 5px;
      border: 2px solid blue;
  }
  
  .contact-right-title hr {
      border: none;
      width: 120px;
      height: 5px;
      background-color: #a363aa;
      border-radius: 10px;
      margin-bottom: 20px;
  }
  
  .contact-inputs {
      width: 400px;
      height: 50px;
      border: none;
      outline: none;
      padding-left: 25px;
      font-weight: 500;
      color: #666;
      border-radius: 50px;
  }
  
  .contact-right-textarea {
      height: 140px;
      padding-top: 15px;
      border-radius: 20px;
  }
  
  contact-inputs:focus {
      border: 2px solid #ff994f;
  }
  
  contact-inputs:placeholder {
      color: #a9a9a9;
  }
  
  .contact-right button {
      display: flex;
      align-items: center;
      padding: 15px 30px;
      font-size: 16px;
      color: black;
      gap: 10px;
      border: none;
      border-radius: 50px;
      background: linear-gradient(270deg);
      cursor: pointer;
      border: 2px solid green;
  }
  
  .contact-right button img {
      width: 500px;
  }
  
  .contact-left img {
      width: 500px;
  }
  
  @media (max-width:800px) {
      .contact-inputs {
          width: 80vw;
      }
  
      .contact-left {
          display: none;
      }
  }
  
  /*Footer styling*/
    footer {
      color: black;
      background-color: #FEE3E2;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
    }
  
    /*Footer links - centered and on seperate lines*/
    footer.a {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  
  