/*Ensures no white gaps along sides of webpage*/
body {
  margin: 0;
}

/*Header - Same style across pages (Changes for responsive design below)*/
header {
 font-family: "Permanent Marker", cursive;
 font-weight: 400;
 font-style: normal;
 display: flex;
 flex-direction:column-reverse;
 justify-content: center;
 align-items: center;
 background-image: linear-gradient(to right, #ABBFFF, #FBCDF2, #FCF4C9, #FEE3E2, #BBF3C0, #ABBFFF, #FBCDF2);
 padding-bottom: 80px; 
 padding-top: 50px;
 width: 100%; 
}

/*Creates blinking logo when you hover over the header*/
header img:last-child {
  display: none;  
}
header:hover img:last-child {
  display: block;  
}
header:hover img:first-child {
  display: none;  
}

/* Title of the page*/
title {
  color: black;
  font-family: "Public Sans", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 60px;
  padding-bottom: 60px;
}

/*Text stylings*/
h5 {
  font-family: "Permanent Marker", cursive;
}
h6 {
  font-family: "Public Sans", sans-serif;
  font-weight: 700;
  font-style: normal;
}
p {
  font-family: "Public Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
}

/*Colour for links*/
a {
  color: black;
  font-style: bold;
}

/*Navbar styling for smaller devices - 0px-600px*/  
@media only screen and (min-width: 0px) and (max-width: 600px) {
  .topnav {
    overflow: hidden;
    background-color: #E8BEFA;
  }
  .topnav a {
    float: none;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    font-family: "Permanent Marker", cursive;
  }
  .topnav a:hover {
    background-color: #FEE3E2;
    color: black;
  }
  .topnav a.active {
    background-color: #ABBFFF;
    color: black;
  }
}


/*Navbar styling for medium sized devices over 600px-800px*/
@media screen and (min-width: 600px) and (max-width: 800px) {  
  .topnav {
    display: flex;
    overflow: hidden;
    background-color: #E8BEFA;
  }
  
  .topnav a {
    float: left;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    font-family: "Permanent Marker", cursive;
  }
  /*Navbar tab will highlight orange when hovered over*/
  .topnav a:hover {
    background-color: #FEE3E2;
    color: black;
  }
  /*Navbar tab for current page will highlight purple so that user know what page they're on*/
  .topnav a.active {
    background-color: #ABBFFF;
    color: black;
  }
}


/*Navbar styling for larger sized devices over 800px*/
@media only screen and (min-width: 800px) { 
  .topnav {
    overflow: hidden;
    background-color: #E8BEFA;
  }
  .topnav a {
    float: left;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    font-family: "Permanent Marker", cursive;
  }
  /*Contacts tab will split and be displayed on the right hand side of page, highlighted green*/
  .topnav a.split {
    float: right;
    background-color: #BBF3C0;
    color: black;
  }
  .topnav a:hover {
    background-color: #FEE3E2;
    color: black;
  }
  .topnav a.split:hover {
    background-color: #FEE3E2;
    color: black;
  }
  .topnav a.active {
    background-color: #ABBFFF;
    color: black;
  }
}


/*Footer styling*/
footer {
  color: black;
  background-color: #FEE3E2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/*Footer links - centered and on seperate lines*/
footer.a {
  display: flex;
  justify-content: center;
  align-items: center;
}