.contact-container {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border: 2px red solid;
}

.contact-right {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
    border: 2px solid purple;
}

.contact-right-title h2 {
    font-weight: 600;
    color: #a363aa;
    font-size: 50px;
    margin-bottom: 5px;
}

.contact-right-title hr {
    border: none;
    width: 120px;
    height: 5px;
    background-color: #a363aa;
    border-radius: 10px;
    margin-bottom: 20px;
}

.contact-inputs {
    width: 400px;
    height: 50px;
    border: none;
    outline: none;
    padding-left: 25px;
    font-weight: 500;
    color: #666;
    border-radius: 50px;
}

.contact-right-textarea {
    height: 140px;
    padding-top: 15px;
    border-radius: 20px;
}

contact-inputs:focus {
    border: 2px solid #ff994f;
}

contact-inputs:placeholder {
    color: #a9a9a9;
}

.contact-right button {
    display: flex;
    align-items: center;
    padding: 15px 30px;
    font-size: 16px;
    color: black;
    gap: 10px;
    border: none;
    border-radius: 50px;
    background: linear-gradient(270deg);
    cursor: pointer;
    border: 2px solid green;
}

.contact-right button img {
    width: 500px;
}

.contact-left img {
    width: 500px;
}

@media (max-width:800px) {
    .contact-inputs {
        width: 80vw;
    }

    .contact-left {
        display: none;
    }
}
